<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<app-navbar></app-navbar>

<div class="about-us">
<h2>About us -Kidz World</h2>
<h3>Our Story</h3>
<p>At Kidz World, we are passionate about bringing joy and excitement to kids and parents alike. Our journey began in 2010, and since then, we've been dedicated to providing the best in children's products.</p>
</div>

<div class="section">
<h3>Our Mission</h3>
<p>Our mission is to make childhood extra special by offering a wide range of high-quality products that nurture creativity, learning, and play. We believe that every child deserves the very best, and we're committed to helping parents provide that.</p>
</div>



<div class="section">
<h3>Our Products</h3>
<p><strong>Quality Playtime: </strong>We believe in the power of play for child development. All our toys are handpicked for their educational value and safety standards.</p>
<p><strong>Variety & Choice:</strong>We take pride in offering a wide range of toys, from classics that stand the test of time to the latest innovative creations.
</p>
<p><strong>Expert Curation:</strong>Our team of toy experts carefully selects each item to ensure it meets the highest standards of quality and enjoyment.
</p>
<p><strong>Customer-Centric:</strong>Your satisfaction is our top priority. We're here to assist you in finding the perfect toys for your child's age and interests</p>
</div>


<div class="section">
<h3>Customer Satisfaction:</h3>
<p>
    We take pride in our commitment to customer satisfaction. Our customer support team is always ready to assist you with any questions or concerns. We value your feedback and continuously work to improve your shopping experience.</p>
</div>

<div class="section">
<h3>Visit our Store</h3>
<p>If you're in the Kidsville area, don't forget to visit our physical store. See and touch our products in person, and our friendly staff will be happy to assist you.</p>
</div>

<div class="section">
<h3>Contact us</h3>

<p><strong>Address:</strong>123 Fun Street,Kidsville</p>
<p><strong>Phone no:</strong>(123) 456 789</p>
<p><strong>Email:</strong>info@kidzworld.com</p>
<p><strong>Operating Hours:</strong>9.00am to 5.00pm</p>

</div>



<div class="content">
    <div class="categories">
      <h2>Categories</h2>
      <ul>
        <li>Soft toys</li>
        <li>Safe toys</li>
        <li>Plush toys</li>
        <li>Wooden toys</li>
        <li>Infant toys</li>
        <li>Educational toys</li>
        <li>Gifts</li>
        <li>Preschool Learning</li>
      </ul>
    </div>
  
    <div class="company-info">
      <h2>Company Info</h2>
      <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Brands</li>
        <li>F.A.Qs</li>
      </ul>
    </div>
  
    <div class="policy">
      <h2>Shipping & policies</h2>
      <ul>
        <li>Payments</li>
        <li>Shipping</li>
        <li>15 days Replacement</li>
        <li>Terms of use</li>
        <li>Privacy Policy</li>
</ul>
    </div>
  
    <div class="payment">
        <h2>Payment method</h2>
        <ul>
            <li>Credit Cards</li>
            <li>Net Banking</li>
            <li>Debit Cards</li>
            <li>Cash on Delivery COD</li>
            <li>Easy EMI</li>
        </ul>
    </div>
  
  </div>
  
<footer>
<div class="copyright">
    &copy; 2023 Kidz World. All rights reserved.
    <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank" title="Facebook">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com" target="_blank" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" title="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      

  </div>
</footer>