<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">



<div class="header">
    <div class="logo">
        <h1>Kidz World</h1>
    </div>
    <nav class="navbar">
        <ul>
            <li><a routerLink="/">Softtoys</a></li>
            <li><a routerLink="/">Plushtoys
            </a></li>
            <li><a routerLink="/">Woodentoys</a></li>
          
            <li><a routerLink="/">Motortoys</a></li>
            <li><a routerLink="/">Educationaltoys</a></li>
        
            <li><a routerLink="/">Biotiques</a></li>
        </ul>
    </nav>

    <a href="/login"><button ><i class="fa-solid fa-user"></i></button></a>

    </div>

<div class="imageslider">
    <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/accordion_strip_toys_gaming_30052022.jpg"  class="Toy" alt="Logo"/>

    <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/750_70_default_toys_040923_02.jpg"/>

    

    <img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/750_103_default_toys_040923_11.jpg"/>



<img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate/diwali_desktop_07102023_01.jpg"class="img3"/>

<img src="https://cdn.fcglcdn.com/brainbees/images/cattemplate//toys_Default_020922_38.jpg" class="img3"/>


</div>


<div class="content">
    <div class="categories">
      <h2>Categories</h2>
      <ul>
        <li>Soft toys</li>
        <li>Safe toys</li>
        <li>Plush toys</li>
        <li>Wooden toys</li>
        <li>Infant toys</li>
        <li>Educational toys</li>
        <li>Gifts</li>
        <li>Preschool Learning</li>
      </ul>
    </div>
  
    <div class="company-info">
      <h2>Company Info</h2>
      <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Brands</li>
        <li>F.A.Qs</li>
      </ul>
    </div>
  
    <div class="policy">
      <h2>Shipping & policies</h2>
      <ul>
        <li>Payments</li>
        <li>Shipping</li>
        <li>15 days Replacement</li>
        <li>Terms of use</li>
        <li>Privacy Policy</li>
</ul>
    </div>
  
    <div class="payment">
        <h2>Payment method</h2>
        <ul>
            <li>Credit Cards</li>
            <li>Net Banking</li>
            <li>Debit Cards</li>
            <li>Cash on Delivery COD</li>
            <li>Easy EMI</li>
        </ul>
    </div>
  
  </div>
  
<footer>
<div class="copyright">
    &copy; 2023 Kidz World. All rights reserved.
    <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank" title="Facebook">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com" target="_blank" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" title="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      

  </div>
</footer>

