


#container{
    background-color: rgb(207, 205, 214);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    gap: 50px;

}
h1{
    margin: 0px;
    color: rgb(20, 22, 24);
}

button{
    background-color: aliceblue;
    border: 0px;
    border: 0px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;


}