
<h1>Product Name</h1>
<p> Veggie Playtime Fun - Vegetable Toys for Kids" </p>

<h1>Product Overview</h1>
<p>Introduce your little ones to the world of healthy eating and imaginative play with our Veggie Playtime Fun Vegetable Toys for Kids! These delightful and colorful vegetable toys are designed to inspire creativity, education, and hours of entertainment for children aged 3 and up</p>

<div class="features">
    <h4>Key features</h4>
    <ul>
        <li>Set of 10 Realistic Vegetables: This vegetable toy set includes 10 lifelike vegetables, including carrots, broccoli, tomatoes, peppers, and more, providing a diverse selection for your child's playtime</li>

        <li>Educational and Fun: Encourage learning through play as your child explores different vegetables, their names, colors, and shapes. It's a fantastic way to teach them about healthy eating from a young age.</li>

        <li>Safe and Durable: Our vegetable toys are made from high-quality, BPA-free, and non-toxic materials to ensure your child's safety. They are designed to withstand hours of play and are easy to clean.</li>

        <li>Vibrant Colors and Realistic Details: Each vegetable is crafted with vibrant, true-to-life colors and intricate details, enhancing the sensory experience and sparking your child's imagination.

        </li>
        <li>Versatile Play: These vegetable toys are perfect for a wide range of play activities, from kitchen pretend-play to gardening adventures in the backyard. They also make great props for storytelling and educational games.</li>

        <li>Storage Basket Included: Keep the play area tidy with the included sturdy, woven storage basket, which is both convenient and adds to the authenticity of the play experience.</li>

        <li>Ideal Gift: Veggie Playtime Fun Vegetable Toys make an excellent gift for birthdays, holidays, or any occasion. They're a fantastic addition to any child's toy collection.

        </li>
</ul>



<div class="image-a6">
    <img src="https://m.media-amazon.com/images/I/61M1YS0kPeL._SX679_.jpg" alt="image06"/>
</div>

</div>
<div class="specifications">
<h4>Product Specifications</h4>
 <p class="heading">Materials</p>
<p class="sub-heading">BPA-free,Non-toxic Plastic</p>

<p class="heading">Recommended Age</p>
<p class="sub-heading"> 3 years and above
</p>

<p class="heading">Package</p>
<p class="sub-heading"> 10 set of Vegetables
</p>

<p class="heading">Dimensions</p>
<p class="sub-heading">Vary by Vegetables(3-6 inches)</p>

<p class="heading">Weight</p>
<p class="sub-heading"> 1.2lbs</p>

<p class="heading">Care Instructions</p>
<p class="sub-heading"> Wipe it with the damp cloth </p>
</div>





<div class="experience">
    <h4>Learning with fun</h4>

    <p>Make learning about vegetables and healthy eating an enjoyable adventure for your child with our Veggie Playtime Fun Vegetable Toys for Kids. Order today and watch as your little one engages in imaginative play while developing important skills for a healthy future!




    </p>
</div>


<p class="price">Price in INR:234.08</p>
<div class="cart"><button (click)="login()">Add to Cart</button>



&nbsp; &nbsp; <button>Buy Now</button>

</div>