<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<h1 class="animated-text">Kidzz World</h1>

<div id="container" [formGroup]="form">

  
    <form>
      <h4 class="animated-text">Welcome to the largest world for the small kids</h4>
    <h1>Login</h1>
    
    
      <input type="text" placeholder="Username" formControlName="username" required>
  
      <div *ngIf="form.controls['username']?.invalid && form.controls['username']?.touched" class="alert">
        *Username is required
      </div>
      
    
    <input type="text" placeholder="email" formControlName="email" required/>


    <div *ngIf="form.controls['email']?.invalid && form.controls['email']?.touched" class="alert">
        *Email address is required
      </div>

      <div *ngIf="form.controls['email'].hasError('pattern') && form.controls['email'].touched" class="alert">
        *Invalid email format
      </div>

    <input type="password" placeholder="password"  formControlName="password" required/>
    <div *ngIf="form.controls['password']?.invalid && form.controls['password']?.touched" class="alert">
        *Password is required
      </div>

    <button (click)="login()" [disabled]="!form.valid">Login</button>

    <div class="image-container">
      <img src="https://tse1.mm.bing.net/th?id=OIP.ufMcjnKn5X2-kBuRBu7ETQHaGJ&pid=Api&P=0&h=180"/>
</div>
    </form>
</div>

<footer>
  <div class="copyright">
      &copy; 2023 Kidz World. All rights reserved.
      <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank" title="Facebook">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://twitter.com" target="_blank" title="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank" title="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
        
  
    </div>
  </footer>
