
<h1>Product Name</h1>
<p>Ride-Along Pony Adventure for Kids</p>

<h1>Product Overview</h1>
<p>Introducing our Ride-Along Pony Adventure, the perfect equestrian companion for your little ones! Designed with safety, durability, and endless fun in mind, this delightful riding horse for kids is sure to bring smiles to their faces and unforgettable moments to your family.</p>

<div class="features">
    <h4>Key features</h4>
    <ul>
        <li>Realistic Riding Experience: Our Ride-Along Pony Adventure offers an authentic riding experience for children aged 2 to 6 years old. Its lifelike design and comfortable saddle will make them feel like they're on a real pony.</li>


        <li>Sturdy Construction: Built to withstand countless adventures, this riding horse is made from high-quality, child-safe materials. The durable frame and reinforced handles ensure a stable and secure ride for your child.</li>

        <li>Easy Maneuverability: With four easy-glide wheels, this riding horse is a breeze for kids to maneuver indoors and outdoors. It promotes balance and coordination while providing hours of active play.</li>

        <li>Assembly-Free: No need to worry about complex assembly instructions. This riding horse arrives fully assembled, ready for your child's next adventure right out of the box</li>

        <li>Educational and Imaginative: Encourage imaginative play and learning through interactive features like the pony's neighing sound effects and a pretend bridle for a truly immersive riding experience.

        </li>
</ul>



<div class="image-a15">
    <img src="https://i.ebayimg.com/images/g/t4YAAOSw1NJk6L0W/s-l500.jpg" alt="image15"/>
</div>

</div>
<div class="specifications">
<h4>Product Specifications</h4>


 <p class="heading">Dimensions</p>
<p class="sub-heading">27 inches (L) x 12 inches (W) x 24 inches (H)</p>


<p class="heading">Weight Capacity</p>
<p class="sub-heading">Up to 66 pounds
</p>


<p class="heading">Recommended Age</p>
<p class="sub-heading"> 2-6 years
</p>

<p class="heading">Materials</p>
<p class="sub-heading">Child-safe plush fabric, sturdy frame</p>

<p class="heading">Battery</p>
<p class="sub-heading"> Requires 2 AA batteries (not included) for sound effects</p>

<p class="heading">Available Colors</p>
<p class="sub-heading">Brown</p>

</div>

<div class="experience">
    <h4>Pony Riding Experience</h4>

    <p>Transform playtime into a magical adventure with our Ride-Along Pony Adventure for Kids. Order yours today and let your child's imagination gallop to new horizons!</p>
</div>


<p class="price">Price in INR:650.90</p>
<div class="cart"><button (click)="login()">Add to Cart</button>



&nbsp; &nbsp; <button>Buy Now</button>

</div>

