<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<app-navbar></app-navbar> 

<h3><strong>Contact Us - Kidz World</strong></h3>
<h3><strong>Have a Question? We're Here to Help!</strong></h3>

<p>At Kidz World, we're committed to providing top-notch customer service. If you have any questions, concerns, or feedback, please don't hesitate to reach out. We're here to assist you in any way we can.</p>


<h3 class="contact-info">Contact Information:</h3>
<p><strong>Address:</strong>123 Fun Street, Kidsville</p>
<p><strong>Phone:</strong>123 (456) 789</p>
<p><strong>Email:</strong>info@kidzworld.com</p>
<p><strong>Operating Hours:</strong>Mon - Fri : 9.00am to 5.00pm , Sat 9.00am to 12.00pm, Sun - closed</p>


<h3>Online Contact Form:</h3>
<p>If you prefer, you can use our convenient online contact form to get in touch. Simply fill out the form below, and we'll respond to your inquiry as soon as possible
</p>

<h3>Contact Online</h3>


<form (submit)="onSubmit()" class="form">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"required>
    </div>
    <div class="form-group">
      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>
    </div>
    <button type="submit">Submit</button>
  </form>
  

<h3 class="commitment-section">Our Committment</h3>
<p>Your satisfaction is our top priority. Whether you have questions about our products, need assistance with your order, or want to share your thoughts, we're eager to hear from you. We value your feedback and continuously work to improve your shopping experience.</p>

<h3 class="visit-section">Visit our Store</h3>
<p>If you're in the Kidsville area, don't forget to visit our physical store. You can see and touch our products in person, and our friendly staff will be happy to assist you.</p>



<div class="content">
    <div class="categories">
      <h2>Categories</h2>
      <ul>
        <li>Soft toys</li>
        <li>Safe toys</li>
        <li>Plush toys</li>
        <li>Wooden toys</li>
        <li>Infant toys</li>
        <li>Educational toys</li>
        <li>Gifts</li>
        <li>Preschool Learning</li>
      </ul>
    </div>
  
    <div class="company-info">
      <h2>Company Info</h2>
      <ul>
        <li>About Us</li>
        <li>Contact Us</li>
        <li>Brands</li>
        <li>F.A.Qs</li>
      </ul>
    </div>
  
    <div class="policy">
      <h2>Shipping & policies</h2>
      <ul>
        <li>Payments</li>
        <li>Shipping</li>
        <li>15 days Replacement</li>
        <li>Terms of use</li>
        <li>Privacy Policy</li>
</ul>
    </div>
  
    <div class="payment">
        <h2>Payment method</h2>
        <ul>
            <li>Credit Cards</li>
            <li>Net Banking</li>
            <li>Debit Cards</li>
            <li>Cash on Delivery COD</li>
            <li>Easy EMI</li>
        </ul>
    </div>
  
  </div>
  
<footer>
<div class="copyright">
    &copy; 2023 Kidz World. All rights reserved.
    <div class="social-icons">
        <a href="https://www.facebook.com" target="_blank" title="Facebook">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com" target="_blank" title="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank" title="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
      

  </div>
</footer>