<h1>Product Name</h1>
<p>Interactive Barking Toy for Dogs</p>

<h1>Product Description</h1>
<p>Interactive Barking Toy for Dogs</p>

<div class="features">
    <h4>Key features</h4>
    <ul>
        <li>Realistic Barking Sound: The Interactive Barking Toy emits lifelike barking sounds that capture your dog's attention and curiosity, making playtime more engaging</li>

        <li>Durable Construction: Crafted from tough, non-toxic materials, this toy is built to withstand your dog's enthusiastic play. It can endure chewing, biting, and rough play without easily getting damaged.</li>

        <li>Interactive Play: Watch as your dog responds to the barking toy, fostering active play and preventing boredom. It's a great way to keep them mentally and physically stimulated.</li>

        <li>Battery-Powered: The toy operates on easily replaceable batteries (not included) to ensure long-lasting entertainment for your pup.</li>

        <li>Easy to Clean: Cleaning this toy is a breeze. Simply wipe it down with a damp cloth or rinse it under running water to keep it hygienic and ready for play.</li>
        <li>Suitable for All Breeds: Whether you have a small terrier or a large retriever, this toy is suitable for dogs of all sizes. It provides entertainment for both puppies and adult dogs.


        </li>

        <li>Indoor and Outdoor Fun: Use this toy indoors or take it outside for playtime in the yard or at the park. It's versatile and can be enjoyed in various settings.

        </li>
</ul>



<div class="image-a7">
    <img src="https://i5.walmartimages.com/seo/Ty-Barley-the-Dog-Classic_daef84fd-5d2a-4ddd-8783-1437bbb53fe6_1.eb7203114ecf9767b8d24d109fd1a1f3.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="image07"/>
</div>

</div>
<div class="specifications">
<h4>Product Dimensions</h4>
 <p class="heading">Height</p>
<p class="sub-heading">2.5 inches (6.3 cm)
</p>
<p class="heading">Length</p>
<p class="sub-heading"> 8 inches (20 cm)
</p>
<p class="heading">Weight</p>
<p class="sub-heading">3 inches (7.5 cm)

</p>
<p class="heading">Charging Time</p>
<p class="sub-heading"> 30 minutes  </p>

<p class="heading">Battery Type</p>
<p class="sub-heading">Lithium-Ion battery (Rechargeable)</p>

</div>





<div class="benefits">
    <h3>Package Contents</h3>
    <ul>
        <li> Interactive Barking Toy for Dogs</li>
      
    </ul>

</div>

<div class="experience">
    <h4>Play with Pets</h4>

    <p>Give your furry friend the gift of endless entertainment and mental stimulation with our Interactive Barking Toy. Order now and make playtime with your dog more exciting than ever!</p>
</div>



<p class="price">Price in INR:760.08</p>
<div class="cart"><button (click)="login()">Add to Cart</button>



&nbsp; &nbsp; <button>Buy Now</button>

</div>


