
<h1>Product Title</h1>
<p> PowerRide Electric Kids Car - Model X1
</p>

<h1>Product Description</h1>
<p>Elevate playtime with the PowerRide Model X1, a thrilling electric riding car designed for kids aged 3-7. This sleek and feature-packed ride-on car promises hours of fun and adventure for your little one.
</p>

<div class="features">
    <h4>Key features</h4>
    <ul>
        <li>Parental remote control for added safety.</li>
        <li>Adjustable seat with a comfortable leather cushion</li>
        <li>Realistic working LED headlights and horn.</li>
        <li>Forward and reverse gears for easy maneuvering.</li>
        <li>Maximum Speed: 3 mph.</li>
        <li>Easy assembly with detailed instructions included.</li>
        <li>ASTM-certified for safety</li>
</ul>



<div class="image-a2">
    <img src="https://i5.walmartimages.com/seo/Ride-on-Toy-Remote-Control-Car-for-Kids-by-Hey-Play-Battery-Powered-Toys-for-Boys-and-Girls-2-5-Year-Old-Blue_b3be20a8-994d-45ad-a5c3-c3ffb06f6505_1.d1eb7c67c26b9e8f343f1478864850f8.jpeg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" alt="image02"/>
</div>

</div>
<div class="specifications">
<h4>Product Specifications</h4>
 <p class="heading">Dimensions</p>
<p class="sub-heading">42" (L) x 24" (W) x 18" (H)</p>

<p class="heading">Weight Capacity</p>
<p class="sub-heading"> Up to 66 lbs
</p>

<p class="heading">Battery</p>
<p class="sub-heading">12V Rechargeable Lithium-Ion Battery
</p>

<p class="heading">Material</p>
<p class="sub-heading">Durable ABS plastic</p>

<p class="heading">Color</p>
<p class="sub-heading">Blue</p>

</div>





<div class="includes">
    <h3>Package Includes</h3>
    <ul>
        <li>PowerRide Model X1 Car</li>
        <li>Remote Control</li>
        <li>12V Battery and Charger</li>
        <li>Assembly Instructions</li>
     
    </ul>

</div>


<div class="assembly">
    <h4>Assembly and Maintenance:</h4>
    <ul>
        <li>Simple assembly with step-by-step instructions.</li>
        <li>Regularly charge the battery and avoid overcharging.</li>
        <li>Keep tires clean and properly inflated.</li>
    </ul>

</div>

<div class="experience">
    <h4>Have a Fun Journey</h4>

    <p>Make playtime unforgettable with the PowerRide Model X1! This electric car provides endless entertainment while promoting motor skills and imagination.</p>
</div>


<p class="price">Price in INR:890.08</p>
<div class="cart"><button (click)="login()">Add to Cart</button>



&nbsp; &nbsp; <button>Buy Now</button>

</div>

