
<div class="cart-items">
   <h2>Cart List</h2>
    <div *ngFor="let item of cartItems; let i = index" class="product-details">
       <div>
        <img [src]="item.image" alt="Toy" class="product-image"/>
        <div class="quantity-controls">
          <button (click)="decreaseQuantity(item)"> - </button>
          <span>&nbsp;&nbsp;{{ item.quantity }}&nbsp;&nbsp;</span>
          <button (click)="increaseQuantity(item)"> + </button>
       </div>
       </div>
      
      <div class="product-name">{{ item.name }}<br><span class="product-price">Price: {{ item.price }}</span> <br>
        <button (click)="buy()" class="button">Buy Now</button>
        <button (click)="removeItem(i)" class="button">Remove</button>
       
      </div>
       
    </div>
  </div>
  