
h1{
    color:blueviolet;
    text-align: center;
    text-decoration: wavy;
}

.listImages{
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 


}
.img{
    display: block;
    padding: 10px 20px;
}


.listImages p{
    text-align: center;
    margin: 0;


}

.img-List2{
    display: flex;
    padding: 8px 20px;
}

.img-List2 p{
    text-align: center;
    margin: 0%;
}


.img-List3{
    display: flex;
    padding: 8px 20px;
}

.img-List3 p{
    text-align: center;
    margin: 0%;
}
a{
    text-decoration: underline;
    color:blue;
}
a:hover{
    color:red;
}

a:visited{
    color:blue;

}



@media screen and (max-width: 768px) {
    .listImages {
        grid-template-columns: repeat(3, 1fr);
    }

    .img,
    .img-List2,
    .img-List3 {
        padding: 5px 10px;
    }

    a {
        font-size: 16px;
    }
}

@media screen and (max-width: 480px) {
    .listImages {
        display: grid;
        grid-template-columns: 1fr;
        text-align: center;
    }

    .img,
    .img-List2,
    .img-List3 {
        padding: 5px;
    }
}








