
<h1>Product Title</h1>
<p>Rainbow Bead Ladder for Kids</p>

<h1>Product Overview</h1>
<p>Introducing our vibrant and educational Rainbow Bead Ladder – a delightful and engaging toy designed to stimulate your child's creativity, fine motor skills, and cognitive development. This colorful bead ladder is a perfect addition to any child's playroom or educational toolkit.

</p>

<div class="features">
    <h4>Key features</h4>
    <ul>
        <li>Colorful Bead Design: The Rainbow Bead Ladder features a spectrum of vibrant colors, which not only captivates children's attention but also helps them learn about colors and patterns.

        </li>

        <li>Durable Construction: Made from high-quality, non-toxic materials, this bead ladder is built to withstand hours of play while ensuring your child's safety.</li>

        <li>Counting and Sorting: Each bead is numbered and comes in different shapes, making it an excellent tool for teaching counting, sorting, and basic math concepts in a fun and interactive way.

        </li>

        <li>Fine Motor Skills: The small beads encourage children to grasp, slide, and manipulate them along the wires, promoting the development of fine motor skills and hand-eye coordination.

        </li>
        <li>Educational Play: Whether your child is stringing beads, creating patterns, or counting along, this toy fosters a love for learning and stimulates their imagination.

        </li>

        <li>Compact and Portable: The compact size and lightweight design make it easy to carry, so your child can enjoy learning and playing anywhere from home to daycare or playdates</li>

        <li>Safe for Kids: This bead ladder is free from harmful chemicals and sharp edges, ensuring your child's safety during play.

        </li>

        <li>Perfect Gift: Whether for birthdays, holidays, or just because, the Rainbow Bead Ladder makes an ideal gift for children aged 3 and up.

        </li>
    </ul>
</div>


<div class="image-a8">
    <img src="https://cdn.shopify.com/s/files/1/0750/0251/products/abacus.3_1024x1024.jpg?v=1459519106" alt="image-8"/>

</div>


<div class="specifications">
<h4>Specifications</h4>
 <p class="heading">Dimensions</p>
<p class="sub-heading">10 inches (length) x 8 inches (height)</p>
<p class="heading">Materials</p>
<p class="sub-heading">Wooden Beads and Wooden ladder 
</p>
<p class="heading">Recommended Age</p>
<p class="sub-heading"> 3 years and above
</p>

</div>





<div class="benefits">
    <h3>Package Includes</h3>
    <ul>
        <li> 1 Rainbow Bead Ladder with 10 colorful wires and 50 multicolored beads</li>
       
    </ul>

</div>

<div class="experience">
    <h4>Fun with Colors</h4>

    <p>Enhance your child's early learning experience with the Rainbow Bead Ladder. It's not just a toy; it's a gateway to creativity, problem-solving, and hours of joyful play. Order yours today and watch your child explore and learn in a world filled with colors and imagination!




    </p>
</div>


<p class="price">Price in INR:450.08</p>
<div class="cart"><button (click)="login()">Add to Cart</button>



&nbsp; &nbsp; <button>Buy Now</button>

</div>

