
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<app-navbar></app-navbar>




<h1>{{product.title}}</h1>
<p>{{product.name}}</p>


<div class="image-a1">
    <img [src]="product.img" alt="image"/>
</div>

<h1>{{product.des}}</h1>
<p>{{product.intro}}</p>


<div class="features">
    <h4>{{product.features}}</h4>
    <ul>
        <li>{{product.lifrst}}</li>
        
        <li>{{product.lisec}}</li>

     
</ul>





</div>
<div class="specifications">
<h4>{{product.headspec}}</h4>
 <p class="heading">{{product.specone}}</p>


<p class="heading">{{product.spectwo}}</p>


<p class="heading">{{product.specthree}}</p>


<p class="heading">{{product.specfour}}</p>

</div>



<div class="benefits">
    <h3>{{product.benefit}}</h3>
    <ul>
        <li>{{product.beneone}}</li>
        <li>{{product.benetwo}}</li>
       
    </ul>
</div>

<div class="safety">
    <h4>{{product.safetyinfo}}</h4>

    <p>{{product.safetypara}}</p>
</div>

<p>{{product.conclusion}}</p>

<p class="price">Price in INR: {{product.price}}</p>
<div class="cart">
    <a [routerLink]="'/cart'"><button (click)="addToCart()">Add to Cart</button></a>
 
    &nbsp; &nbsp;
    <button (click)="buyproduct()">Buy Now</button>




      
    <footer>
    <div class="copyright">
        &copy; 2023 Kidz World. All rights reserved.
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank" title="Facebook">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="https://twitter.com" target="_blank" title="Twitter">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com" target="_blank" title="Instagram">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          
    
      </div>


   



