<h1>Product Title</h1>
<p> Flying Flight High-Performance Remote-Controlled Airplane </p>

<h1>Product Overview</h1>
<p>Experience the thrill of flying with the  Flying Flight High-Performance Remote-Controlled Airplane. Whether you're a beginner or an experienced RC enthusiast, this meticulously crafted model offers exceptional maneuverability, stunning design, and cutting-edge technology for an unforgettable flying experience.</p>

<div class="features">
    <h4>Key features</h4>
    <ul>
        <li>Powerful Performance: Equipped with a 20-class brushless motor and 30-blade propeller, this airplane delivers impressive speed, agility, and altitude capabilities.</li>
        <li>Precision Controls: The 2.4GHz remote controller ensures smooth and responsive control, allowing you to execute precise maneuvers with ease.</li>
        <li>Durable Construction: Built from lightweight yet sturdy materials, the airplane is designed to withstand crashes and impacts, ensuring longevity and durability.</li>
        <li>Easy Assembly: With the included step-by-step instructions, you can have your airplane ready for takeoff in no time.</li>
        <li>Long Flight Times: The high-capacity rechargeable battery provides 10 minutes of uninterrupted flight time, allowing you to enjoy extended flying sessions.</li>
</ul>



<div class="image-a2">
    <img src="https://img.freepik.com/premium-photo/close-up-small-orange-blue-airplane-white-surface-generative-ai_900396-63226.jpg" alt="image02"/>
</div>

</div>
<div class="specifications">
<h4>Specifications</h4>
 <p class="heading">Wingspan</p>
<p class="sub-heading">30 inches / 20 cm</p>
<p class="heading">Length</p>
<p class="sub-heading">80 inches / 100 cm
</p>
<p class="heading">Weight</p>
<p class="sub-heading"> 20 oz / 30 g
</p>

<p class="heading">Motor</p>
<p class="sub-heading">20 -class Brushless Motor</p>

<p class="heading">Battery</p>
<p class="sub-heading"> Lithium-Ion Rechargeable Battery</p>

<p class="heading">Remote Control Frequency</p>
<p class="sub-heading"> 2.4GHz </p>


<p class="heading">Control Range</p>
<p class="sub-heading">Up to 8 feet / 2.4384 meters</p>


<p class="heading">Charging Time</p>
<p class="sub-heading"> 30 minutes  </p>
</div>





<div class="benefits">
    <h3>What's included</h3>
    <ul>
        <li>Flying Flight Remote-Controlled Airplane</li>
        <li>2.4GHz Remote Controller</li>
        <li>Rechargeable Lithium-Ion Battery</li>
        <li>USB Charging Cable</li>
        <li>Spare Propellers</li>
        <li>User Manual</li>
    </ul>

</div>

<div class="experience">
    <h4>Experience the Skies Like Never Before:</h4>

    <p>Elevate your RC flying experience with the Flying Flight High-Performance Remote-Controlled Airplane. Get ready to perform breathtaking aerial stunts, compete with friends, or simply enjoy the serenity of flying. Order yours today and take to the skies!</p>
</div>


<p class="price">Price in INR:250.00</p>
<div class="cart"><button (click)="login()">Add to Cart</button>



&nbsp; &nbsp; <button>Buy Now</button>

</div>

