
<h1>Product Name</h1>
<p> Classic Wooden Train Toy Set for Kids </p>

<h1>Product Overview</h1>
<p>Introduce your child to the timeless joy of locomotion with our Classic Wooden Train Toy Set. Crafted with care from high-quality, eco-friendly wood, this toy is designed to captivate young minds while promoting creativity, fine motor skills, and imaginative play</p>

<div class="features">
    <h4>Key features</h4>
    <ul>
        <li>Durable Wooden Construction: Built to withstand the rigors of playtime, this train toy is crafted from solid, sustainably sourced wood, ensuring it lasts for generations.</li>


        <li>Magnetic Coupling: The train cars feature magnetic couplings, making it a breeze for little hands to connect and disconnect the cars, fostering dexterity and problem-solving skills</li>


        <li>Smooth-Rolling Wheels: The wooden train wheels glide smoothly along the tracks, ensuring hours of uninterrupted play.</li>


        <li>Educational Play: Encourage cognitive development as your child explores concepts like spatial awareness, cause and effect, and creative storytelling through imaginative play.

        </li>


        <li>Safe and Non-Toxic: Rest easy knowing our wooden train set is free from harmful chemicals and meets rigorous safety standards, so your child can play with confidence.</li>
</ul>



<div class="image-a13">
    <img src="https://i.pinimg.com/originals/f6/68/2a/f6682abba964740bedd46e9ac38fbf4e.jpg" alt="image13"/>
</div>



</div>
<div class="specifications">
<h4>Product Specifications</h4>
 <p class="heading">Materials</p>
<p class="sub-heading">Eco-friendly wood</p>


<p class="heading">Recommended Age</p>
<p class="sub-heading">3 years and up
</p>


<p class="heading">Set Includes:</p>
<p class="sub-heading"> Locomotive, train cars,  and accessories
</p>

<p class="heading">Product Dimensions</p>
<p class="sub-heading">20 cm x 30 cm</p>

<p class="heading">Weight</p>
<p class="sub-heading"> 10 lbs</p>

</div>





<div class="benefits">
    <h3>Package Contents</h3>
    <ul>
        <li>Wooden Train</li>
        <li>Eco Eco-friendly Wood</li>
        <li>Smooth-Rolling Wheels</li>
         <li>User Manual</li>
    </ul>

</div>

<div class="experience">
    <h4>Experience the Wheels of Joy</h4>

    <p>Fuel your child's imagination and embark on endless adventures with our Classic Wooden Train Toy Set. Order now and watch your little conductor's creativity come to life!</p>
</div>


<p class="price">Price in INR:830.90</p>
<div class="cart"><button (click)="login()">Add to Cart</button>



&nbsp; &nbsp; <button>Buy Now</button>

</div>

