/* You can add global styles to this file, and also import other style files */


body{
    padding: 0px;
    margin: 0px;
    background-color:white;
    
}


.alert{
    color: red;
    font-size: 15px;
}

