<h1>Product Name</h1>
<p> KidBot 3000 - Educational Robot for Kids </p>

<h1>Product Details</h1>
<p>Introducing the KidBot 3000, the perfect blend of fun and learning for your child! This educational robot is designed to captivate young minds while fostering creativity, problem-solving skills, and a love for technology. Watch as your child embarks on an exciting journey of discovery with their new robotic friend.

</p>

<div class="features">
    <h4>Key features</h4>
    <ul>
        <li>Interactive Learning: The KidBot 3000 offers a wide range of educational activities, including coding, math challenges, language development, and more, ensuring hours of engaging and enriching play.</li>

        <li>Playful Personality: KidBot 3000 has a charming personality, featuring animated expressions and friendly interactions that make learning feel like playtime</li>

        <li>Durable Design: Crafted with child safety in mind, the robot is made from high-quality, non-toxic materials and designed to withstand the rough and tumble adventures of kids
        </li>


        <li>Remote Control: Parents can take control when needed with the included remote, ensuring a safe and controlled play environment.</li>


        <li>Expandable Learning: The KidBot 3000 offers expansion packs and downloadable content, so your child can continue to explore and learn with new activities and challenges.</li>
</ul>



<div class="image-a11">
    <img src="https://inteng-storage.s3.amazonaws.com/images/NOVEMBER/sizes/best_robot_toys_wowwee_mip_resize_md.jpg" alt="image11"/>
</div>

</div>
<div class="specifications">
<h4>Specifications</h4>

<p class="heading">Length</p>
<p class="sub-heading">80 inches / 100 cm
</p>

<p class="heading">Weight</p>
<p class="sub-heading"> 20 oz / 30 g
</p>

<p class="heading">Motor</p>
<p class="sub-heading">20 -class Brushless Motor</p>

<p class="heading">Battery</p>
<p class="sub-heading"> Lithium-Ion Rechargeable Battery</p>

<p class="heading">Remote Control Frequency</p>
<p class="sub-heading"> 2.4GHz </p>


<p class="heading">Control Range</p>
<p class="sub-heading">Up to 8 feet / 2.4384 meters</p>


<p class="heading">Charging Time</p>
<p class="sub-heading"> 30 minutes  </p>

<p class="heading">Recommended Age</p>
<p class="sub-heading">4 years and above</p>

<p class="heading">Warranty</p>
<p class="sub-heading">One year Warranty with Free Service</p>
</div>





<div class="benefits">
    <h3>Additional Features</h3>
    <ul>
        <li>Built-in Sensors</li>
        <li>Easy Programming</li>
        <li>Rechargeable Lithium-Ion Battery</li>
        <li>USB Charging Cable</li>
        <li>Remote Control</li>
        
    </ul>

</div>

<div class="experience">
    <h4>Experience the Robot</h4>

    <p>Give your child the gift of knowledge and imagination with the KidBot 3000. Watch them develop essential STEM skills while having a blast with their new robotic companion. Order yours today and let the learning adventures begin!</p>
</div>


<p class="price">Price in INR:1230.00</p>
<div class="cart"><button (click)="login()">Add to Cart</button>



&nbsp; &nbsp; <button>Buy Now</button>

</div>

