
<h1>Product Title</h1>
<p> 
    Dancing Bunny Toy for Kids - Interactive Musical Plush Rabbit </p>

<h1>Product Description</h1>
<p>Introducing our adorable Dancing Bunny Toy, the perfect companion for your child's playtime! This interactive plush rabbit is designed to captivate young hearts with its enchanting dancing moves and cheerful music</p>

<div class="features">
    <h4>Key features</h4>
    <ul>
        <li>Dancing Delight: Watch the bunny come to life as it dances and twirls, keeping your child entertained for hour</li>

        <li>
            Musical Magic: Enjoy the built-in musical melodies that add an extra layer of fun to playtime.</li>

        <li>Safe and Snuggly: Made from premium, child-friendly materials, this plush bunny is soft, huggable, and safe for all ages.</li>

        <li>Easy Operation: Simple buttons allow kids to control the dancing and music, promoting independence and motor skills</li>

        <li>Battery-Powered: Requires 3 AA batteries (not included) for hours of non-stop dancing and music.</li>

        <li>Recommended Age: Suitable for children ages 3 and up.</li>
</ul>



<div class="image-a5">
    <img src="https://m.media-amazon.com/images/I/61+RRZnf0GL._AC_UL600_FMwebp_QL65_.jpg" alt="image05"/>
</div>

</div>
<div class="specifications">
<h4>Specifications</h4>
 <p class="heading">Dimensions</p>
<p class="sub-heading">12 inches (30 cm) in height, 6 inches (15 cm) in width.
</p>

<p class="heading">Weight</p>
<p class="sub-heading">3kgs</p>

<p class="heading">Material</p>
<p class="sub-heading"> High Quality Non-toxic Plastic
</p>

<p class="heading">Care Instructions</p>
<p class="sub-heading">Surface washable with mild soap; remove batteries before washing.</p>


</div>


<div class="experience">
    <h4>Safety Information</h4>

    <p>Our Dancing Bunny Toy meets all safety standards for children's toys. It is made from non-toxic and hypoallergenic materials, ensuring your child's safety during playtime.</p>
</div>


<p class="price">Price in INR:500.00</p>
<div class="cart"><button (click)="login()">Add to Cart</button>
    
&nbsp; &nbsp; <button>Buy Now</button>

</div>

